.spacer {
	display: block;
	width: 100%;
	margin-top: 1rem;
}

.code {
	margin-top: 1rem;
	display: block;
	background-color: var(--grey100);
	border-radius: var(--radius400);
	padding: 1rem;
}
.code pre {
	margin: 0;
}

.p {
	text-align: center;
	margin: 0;
}

.a {
	text-decoration: underline;
	transition: color 75ms ease-in-out;
}
.a:hover {
	color: grey;
}
