# Dependency & production build folders
__pycache__
src.egg-info
*.pyc
.mypy_cache
.ruff_cache
.pytest_cache
.coverage
htmlcov
.cache
.venv

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
