.nav {
	flex: 0 0 auto;
	background-color: var(--grey0);
	padding: 1rem 0;
}

.links {
	max-width: var(--content-width);
	margin: 0 auto;
	padding: 0 1rem;

	display: flex;
	flex-direction: row;
	align-items: center;
}

.logo {
	width: 2rem;
	margin-right: 1rem;
}

.navLink {
	font-size: 1rem;
	font-weight: 500;
	padding: 0.75rem 1rem;
	margin: 0 0.5rem;
	color: var(--black900);
	border-radius: var(--radius400);
}
.navLink:last-child {
	margin: 0;
}
.navLink:hover,
.navLink[data-active='true'] {
	background-color: var(--grey50);
}

.main {
	flex: 1 0 auto;
	width: 100%;
	max-width: var(--content-width);
	margin: 0 auto;
	padding: 0 1rem;
}
