.fieldset {
	display: block;
	padding: 0;
	margin: 0;
	margin-block-start: 1rem;
}

.label {
	font-weight: bold;
}

.input {
	display: block;
	width: 100%;
	padding: 0.75rem 1rem;
	margin-block-start: 0.5rem;
	border-width: 1px;
	border-radius: var(--border-radius);
	background-color: var(--color-grey-light);
	color: var(--color-grey-text);
}

.submit {
	display: inline-block;
	margin: 0;
	padding: 0.75rem 1rem;
	background-color: var(--color-primary-main);
	border-radius: var(--border-radius);
	color: var(--color-primary-text);
	box-shadow: var(--box-shadow);
	transition: background-color 75ms ease-out;
}

.submit[data-hovered='true'] {
	color: var(--color-primary-text);
	background-color: var(--color-primary-dark);
}
.submit[data-disabled='true'] {
	cursor: not-allowed;
}
