.code {
	margin-block-start: 1rem;
	display: block;
	padding: 1rem;
	color: var(--color-grey-text);
	background-color: var(--color-grey-dark);
	border-radius: var(--border-radius);
}

.code pre {
	margin: 0;
}
