.pending {
	display: flex !important;
	align-items: center;
	gap: 0.5ch;
}

.svg {
	display: block;
	width: 1em;
	height: 1em;
	transform-origin: center;
	animation: spin 0.75s infinite linear;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
